doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/socket.io/socket.io.js")
    script(src="https://code.jquery.com/jquery-1.11.1.js")
    script(src="/socket.js")
  body
    block content

block content
    
    h1= title
    p Bienvenu sur #{title}, #{slogan}
    h2 Vous chattez avec 
    ul(id="message")
    br
    form
        textarea(name="writePart", cols="200%", rows="2") 
        button(type="submit",) Envoyer

